<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">
	<mvc:annotation-driven />


	<!-- <bean id="dataSouce" class="com.zhongzhi.servlet.DataSourceFactory" factory-method="createInstance" ></bean> -->


	<!-- <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" destroy-method="close"> -->
	<!--         <property name="jndiName"> -->
	<!--             <value>java:comp/env/test</value> -->
	<!--         </property> -->
	<!--     </bean> -->

<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
<property name="url" value="jdbc:mysql://localhost:3306/zhongzhi?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=UTC" />
<property name="username" value="root" />
<property name="password" value="jianxin" />
<property name="initialSize" value="3" />
<property name="minIdle" value="3" />
<property name="maxIdle" value="5" />
<property name="maxTotal" value="15" />
</bean>
	<bean id="dataSouce" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/zhongzhi?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=UTC"></property>
		<property name="username" value="root"></property>
		<property name="password" value="jianxin"></property>
	</bean>
	<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSouce"></property>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zhongzhi.mapper"></property>
		<property name="sqlSessionFactory" ref="factory"></property>
	</bean>
	<bean id="studentService" class="com.zhongzhi.service.StudentService">
		<property name="studentMapper" ref="studentMapper"></property>
	</bean>
</beans>
